<!--CustomElement:id,value,values,change,dropList-->
<div class="st-drop-edit" style="display: inline-table; border-spacing: 0;">
    <label style="width: calc(100% - 1.9rem);" >
        <input type="text" v-model="value" class="form-control" @change="$emit('change',value)">
    </label>
    <label class="btn btn-secondary" :for="id" 
           style="margin-left: calc(0rem - var(--bs-border-radius)); margin-top: calc(0rem - var(--bs-border-radius) + 1px);">
        <i class="fas fa-caret-down"></i>
    </label>
    <input :id="id" type="checkbox" v-model="dropList">
    <div class="st-drop-edit-items"
         style="position: absolute; z-index: 1; max-height: 40vh; overflow-y: auto; background-color: white; padding-top: .5em; border: 1px solid var(--bs-gray-400);">
        <ul style="list-style-type: none; margin-left: -2em;">
            <li class="st-drop-edit-item" v-for="v in values" style="margin-left: 1em; margin-right: 1em;" @click="value=v; dropList=false; $emit('change',v);">
                &nbsp;{{v}}
            </li>
        </ul>
    </div>
</div>
