:root {
    --fore-color: black;
    --back-color: white;
}

body {
    color: var(--fore-color) !important;
    background: var(--back-color) !important;
}

.page-host {
    margin-left: 20px;
}

.tree-selected {
    background-color: orange;
}

